<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu (ionWillOpen)="acitve()" side="start" content-id="main-content" [disabled]="disabled">
      <ion-header >
        <!-- <img src="../assets/images/taswirti.JPG"> -->
        <ion-toolbar translucent>
          <ion-title slot="start" *ngIf="user">{{user.prenom+' '+user.nom}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root"
             [routerLink]="[p.url]" lines="none" detail="false" 
             [class.selected]="selectedIndex == i" *ngIf="p.id!=='Compte' && p.id!=='Notifications'">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-badge color="danger" slot="end" *ngIf="p.id==='Notifications'">8</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-item-divider>
            <ion-label>
             Général
            </ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root"
             [routerLink]="[p.url]" lines="none" detail="false" 
             [class.selected]="selectedIndex == i" *ngIf="p.id=='Compte' || p.id=='Notifications'">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-badge color="danger" slot="end" *ngIf="p.id==='Notifications'">8</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-item-divider>
            
          </ion-item-divider>
          <ion-button fill="outline" expand="block">
            <ion-icon ios="log-out-outline" md="log-out"></ion-icon>
            Déconnexion
          </ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
