<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="presentPopoverAccount($event)" fill="clear" slot="end">
        <ion-icon color="tertiary"  class="icon" slot="end" md="person-circle" ios="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <app-accueil *ngIf="accueil"></app-accueil>
  <app-passer-commande *ngIf="passer_commande"></app-passer-commande>
  <app-mon-compte *ngIf="compte"></app-mon-compte>
  <app-notifications *ngIf="notifications"></app-notifications>
  <app-mes-voitures *ngIf="voitures"></app-mes-voitures>
  <app-gerer-courses *ngIf="gerer_courses"></app-gerer-courses>
  <app-mes-commandes *ngIf="mes_commandes"></app-mes-commandes>
  <app-gerer-utilisateurs *ngIf="gerer_utilisateurs"></app-gerer-utilisateurs>
  <app-gerer-colis *ngIf="gerer_colis"></app-gerer-colis>
  <app-scanner *ngIf="scanner"></app-scanner>
  <app-suivi-courses *ngIf="suivi_courses"></app-suivi-courses>
</ion-content>


