<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="12">
        <div class="main">
          <form [formGroup]="forgotForm" (ngSubmit)="submit()">
            <div>
              <ion-item>
                <ion-icon color="secondary" name="mail" slot="start"></ion-icon>
                <ion-label position="floating">Email</ion-label>
                <ion-input clearInput="true" formControlName="email" inputmode="email"></ion-input>
              </ion-item>
              <div class="error" *ngIf="f.email.errors && (f.email.dirty || f.email.touched || submitted)">
                <div *ngIf="f.email.errors.required">Vous devez entrer un email</div>
                <div *ngIf="f.email.errors.email">Email invalid</div>
              </div>
              <div class="return">
                <ion-button [routerLink]="['/home']"  slots="end" routerDirection="back"
                 fill="clear" size="small">Connectez-vous
                </ion-button>
              </div>
              <ion-button type="submit" routerDirection="root" color="tertiary" fill="solid" expand="block">
                <ion-icon name="send" slot="start"></ion-icon> 
                Envoyer la demande
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
